<section class="reviews">
  <div class="container">
     <h2 class="text-center">ما يقوله متعلمونا</h2>
      <div class="row">
          <div class="col-md-4">
             <p class="review text-center">
                 <i class="fas fa-quote-right"></i>
                 هو موقع حر لنشر المقالات
                 والتدوينات، مستقل وغير مؤدلج، يهتم موقع مقال بنشر رأيك
                 وحمايته وتوضيحه، وايصاله إلى مختلف شرائح
                 لمجتمع بتحويله إلى فيديو وتصاميم.
                 <i class="fas fa-quote-left"></i><br><span class="text-left">maha kamel</span>
             </p>
              <img class="user" id="imgComment" src="assets/images/person-icon.png">
          </div>
          <div class="col-md-4 middle">
             <p class="review text-center">
                 <i class="fas fa-quote-right"></i>
                 هو موقع حر لنشر المقالات
                 والتدوينات، مستقل وغير مؤدلج، يهتم موقع مقال بنشر رأيك
                 وحمايته وتوضيحه، وايصاله إلى مختلف شرائح
                 لمجتمع بتحويله إلى فيديو وتصاميم.
                 <i class="fas fa-quote-left"></i><br><span class="text-left">ahmed mostfa</span>
             </p>
             <img class="user" id="imgComment" src="assets/images/person-icon.png">
         </div>
         <div class="col-md-4">
             <p class="review text-center">
                 <i class="fas fa-quote-right"></i>
                 هو موقع حر لنشر المقالات
                 والتدوينات، مستقل وغير مؤدلج، يهتم موقع مقال بنشر رأيك
                 وحمايته وتوضيحه، وايصاله إلى مختلف شرائح
                 لمجتمع بتحويله إلى فيديو وتصاميم.
                 <i class="fas fa-quote-left"></i><br><span class="text-left">hassan mohammed</span>
             </p>
             <img class="user" id="imgComment" src="assets/images/person-icon.png">
         </div>
      </div>
  </div>
</section>
