.quiz-container {
    background-color: black;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.t{
  color: white;
}
#exam{
  margin-top: 17%;
  margin-bottom: 5%;
}
.blue {
    background-color: cadetblue;
}

.question {
    /* background-color:#00acb571; */
  /* background-color: #00adb5; */
    height: auto;
    background: linear-gradient(to bottom right ,#00adb5,black );
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    direction: rtl;
}

.quistion-name {
    background-color: black;
    border-radius: 20px;
    color: white;
}

.quistion-number {
    width: 50px;
    height: 40px;
    background-color: #00adb5;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    font-size: x-large;
    display: inline-block;
}

.answer {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    font-weight: bolder;
    cursor: pointer;
}

.answer input {
    cursor: pointer;
}

.answer label {
    cursor: pointer;
}

.btnexam{
  background: linear-gradient(to bottom right ,#00adb5,black );
  border: none;
  color: white;
  transition: all .4s ease-in-out;
}

.btnexam:hover{
  color: #00adb5;
  border: #00adb5 solid .5px;
  background: transparent;
}
