<section id="admin">
  <div class="container-fluid">
    <div class="row my-2 justify-content-center align-items-center">
        <div routerLink="/admin/lesson" class="col-lg-3 col-md-5 col-10 window  ">
            <div class="card mb-3 ">
                <div class="row g-0 ">
                    <div class="col-8 text-right ">
                        <div class="card-body ">
                            <h2 class="card-title text-center">الفيديو</h2>
                            <p class="card-text ">هنا يمكنك إضافة فيديو جديد أو التعديل أو الحذف</p>
                        </div>
                    </div>
                    <div class="col-4 bg-info text-center d-flex align-items-center justify-content-center ">
                        <i class="text-light fas fa-video fa-4x "></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-5 col-10 ">
            <div class="card mb-3 ">
                <div class="row g-0 ">
                    <div class="col-8 text-right ">
                        <div class="card-body ">
                            <h2 class="card-title text-center ">الأسئلة</h2>
                            <p class="card-text ">هنا يمكنك إضافة سؤال جديد أو التعديل أو الحذف</p>
                        </div>
                    </div>
                    <div class="col-4 bg-dark text-center d-flex align-items-center justify-content-center ">
                        <i class="text-light fas fa-question-circle fa-4x "></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-5 col-10 ">
            <div class="card mb-3 ">
                <div class="row g-0 ">
                    <div class="col-8 text-right ">
                        <div class="card-body ">
                            <h2 class="card-title text-center ">الأعضاء</h2>
                            <p class="card-text ">هنا يمكنك إضافة عضو جديد أو التعديل او الحذف</p>
                        </div>
                    </div>
                    <div class="col-4 bg-danger text-center d-flex align-items-center justify-content-center ">
                        <i class="text-light fas fa-users fa-4x "></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>


