
.bg-cusGray{
  background-color: #F7FAFC;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .15s ease;
}

.header {
  position: relative;
}

.opacity-8 {
  opacity: .8 !important;
}

.opacity-8 {
  opacity: .9 !important;
}


.bg-gradient-default {
  background: linear-gradient(87deg, #172b4d 0, #1a174d 100%) !important;
}

.bg-gradient-default {
  background: linear-gradient(87deg, #172b4d 0, #1a174d 100%) !important;
}

@media screen and (prefers-reduced-motion: reduce) {
  .mask {
    transition: none;
  }
}
.body_position{
  top: 69%;
}
.index{
  z-index: 1000;
}
.btnn {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  background-color: #007BFF;
  font-size: 16px;
  /* background-color: transparent; */
  padding: 6px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
