.filterbord{
  background-color: transparent;
  border: solid .5px #f7f7f7;
  color: black;
  transition: all .2s all;
}
.filterbord:hover{
  background-color: transparent;
  border: solid .5px black;
}
.genertbutton{
  border: solid 1px #f44336;
  background-color: #f44336;
  color: white;
  transition: all .5s ease;
}

.genertbutton:hover{
  background-color: transparent;
  color: #f44336;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  font-weight: 500;
}

.example-full-width {
  width: 80%;
  text-align: right;
  font-weight: 500;
}
.rht{
  text-align: center;
  font-weight: 500;
}
