<app-firstsection></app-firstsection>
<app-secondsection></app-secondsection>
<app-thiredsection></app-thiredsection>
<app-fourthsection></app-fourthsection>
<app-sectionfive></app-sectionfive>
<app-sectionsix></app-sectionsix>
<app-sectionseven></app-sectionseven>
<!-- <a href="#go" id="goUp"><i class="fas fa-arrow-alt-circle-up"></i>
</a> -->
<div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
  <a  id="goUp" (click)="scrollToTop()">
    <i class="fas fa-arrow-alt-circle-up"></i>
  </a>
</div>
