<!-- section1 -->
<section>
    <div id="section1">
        <div class="container-fluid">
            <div class="row" style="height: 100vh;">
                <div class="c0l-lg-12 m-auto text-center">
                    <h1>
                        <a routerLink="/register" class="mb-3 textheader">
                                    انضم الينا الآن...
                        </a>
                    </h1>
                    <p class="mt-4 mb-4 text-parag">
                        اشترك الآن وتعلم كل ما تريد عن النحو
                    </p>
                    <!-- <form action="search.html" class="form sectionMiddle m-auto">
                        <div class="input-group mb-3" style="direction: ltr !important;">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-light " type="button" id="button-addon1">
                                <i class="fas fa-search"></i>
                            </button>
                            </div>
                            <input style="direction: rtl;" autocomplete="off" class="form-control p-1" type="search" name="q" type="text" placeholder="ماذا تريد أن تتعلم اليوم ؟" aria-label="Search">
                        </div>
                    </form> -->
                </div>

            </div>
        </div>
    </div>
</section>