<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mt-4 text-center">
        <!-- <img src="assets/images/error1.png" alt=""> -->
        <!-- <img src="assets/images/error2_a.png" alt=""> -->
        <!-- <img src="assets/images/error3_a.png" alt=""> -->
        <img src="assets/images/error4_a.png" alt="">
        <!-- <img src="assets/images/error5_1.png" alt=""> -->

      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 mt-5 text-center">
        <h1 class="not1">الصفحة المطلوبة غير موجودة</h1>
        <!-- <h3>Sorry, We Are Unanable to Find That Page</h3>
        <h5>Plese Use Main Menu or</h5> -->
        <button class="btn btn-info mt-3" routerLinkActive="active"routerLink='/Home'><i class="fas fa-home"></i> الرجوع للصفحة الرئيسية</button>
      </div>
      <!-- <div class="col-lg-12 mt-5 text-center">
        <img src="assets/images/error5_2.png" alt="">
      </div> -->
    </div>
  </div>
</section>
