<footer class="text-center fot">
    <div class="container p-4 pb-0">
        <h3>تواصل معنا</h3>
      <section class="mb-4">
        <a class="btn btn-outline-dark btn-floating m-1" href="#" role="button">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a class="btn btn-outline-dark btn-floating m-1" href="#" role="button">
            <i class="fab fa-twitter"></i>
        </a>
        <a class="btn btn-outline-dark btn-floating m-1" href="#" role="button">
            <i class="fab fa-google"></i>
        </a>
        <a class="btn btn-outline-dark btn-floating m-1" href="#" role="button">
            <i class="fab fa-instagram"></i>
        </a>
      </section>
    </div>
    <!-- Copyright -->
    <div class="text-center p-3 cp" style="background-color:#eeefff;">
        <p>جميع الحقوق محفوظة &copy; رحيق النحو
        </p>
    </div>
</footer>
