<section id="lsns">
  <div class="container">
    <div class="row imglsn">
      <div class="col-lg-4 tmg">
        <form action="search.html" class="form sectionMiddle m-auto">
          <div class="input-group mb-3 tmg" style="direction: ltr !important;">
              <div class="input-group-prepend">
                  <button class="btn btn-outline-light" type="button" id="button-addon1">
                  <i class="fas fa-search"></i>
              </button>
              </div>
              <input id="searchInput" (keyup)="ReBind($event)" type="text" class="form-control" placeholder="ابحث" aria-label=""aria-describedby="basic-addon1">
          </div>
        </form>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-4 mb-5 rounded" *ngFor="let lsns of copylessons">
        <div class="card-deck text-center">
          <div class="card addhovaos-init aos-animate" data-aos="fade-up" data-aos-offset="200"
                data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out">
            <img src="https://img.youtube.com/vi/{{lsns.image}}/0.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title cutom">{{lsns.title}}</h5>
              <button type="button" class="btn btnback rounded-pill" routerLink="/lesson/{{lsns.id}}"><i class="fas fa-play"></i>&nbsp;&nbsp;ابداء الان</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
